<!-- Basic Form Inputs card start -->
<app-card [title]="'ajouter utilisateur'">
    <h4 class="sub-title">information de utilisateur </h4>

    <form #addClientForm='ngForm' (ngSubmit)="addClient()">

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Prénom:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="  Prénom" [(ngModel)]='client.firstname'
                    [ngModelOptions]="{standalone:true}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nom :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="  Nom" [(ngModel)]='client.Lastname'
                    [ngModelOptions]="{standalone:true}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Statut civile :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="  Statut civile " [(ngModel)]='client.civilstatuts'
                    [ngModelOptions]="{standalone:true}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Date de naissance :</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" placeholder="  Date de naissance" [(ngModel)]='client.birthday'
                    [ngModelOptions]="{standalone:true}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nationalité :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="  Nationalité" [(ngModel)]='client.nationality'
                    [ngModelOptions]="{standalone:true}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Etranger :</label>
            <div class="col-sm-10">

                <select class="form-control" [(ngModel)]='client.etranger' [ngModelOptions]="{standalone:true}">
                    <option value="etranger">etranger</option>
                    <option value="Non etranger">Non etranger</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Résidant :</label>
            <div class="col-sm-10">
                <select class="form-control" [(ngModel)]='client.resident' [ngModelOptions]="{standalone:true}">

                    <option value="Resident">Resident</option>
                    <option value="Non Resident">Non Resident</option>
                </select>

            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Pays de naissance :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="  Pays de naissance"
                    [(ngModel)]='client.birthcountry' [ngModelOptions]="{standalone:true}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Ville de naissance :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="  Ville de naissance"
                    [(ngModel)]='client.birthcity' [ngModelOptions]="{standalone:true}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Résidence :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="  Résidence" [(ngModel)]='client.residcity'
                    [ngModelOptions]="{standalone:true}">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Genre :</label>
            <div class="col-sm-10">

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="Homme "
                        [(ngModel)]='client.gender' [ngModelOptions]="{standalone:true}">
                    <label class="form-check-label" for="gridRadios1">Homme :</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="Femme "
                        [(ngModel)]='client.gender' [ngModelOptions]="{standalone:true}">
                    <label class="form-check-label" for="gridRadios2">Femme :</label>
                </div>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Type d’entité :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="  entity type" [(ngModel)]='client.entitytype'
                    [ngModelOptions]="{standalone:true}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Statut :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="  statuts" [(ngModel)]='client.statuts'
                    [ngModelOptions]="{standalone:true}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Secteur d’activité :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder=" Secteur d’activité "
                    [(ngModel)]='client.activitysector' [ngModelOptions]="{standalone:true}">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Utilisateur chargé :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Utilisateur chargé"
                    [(ngModel)]='client.chargeduser' [ngModelOptions]="{standalone:true}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Ugest :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Ugest " [(ngModel)]='client.ugest'
                    [ngModelOptions]="{standalone:true}">
            </div>
        </div>
        <div class="form-group row">

            <div class="col-sm-4">
                <button type="submit" class="btn btn-info"> ajouter utilisateur </button>
            </div>
        </div>


    </form>

</app-card>
<!-- Basic Form Inputs card end -->