<!-- Basic table card start -->
<app-card [title]="'Mes orders table'" [classHeader]="true" [blockClass]="'table-border-style'">

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Code ISIN</th>
                    <th>Sécurité</th>
                    <th>Date de négociation</th>
                    <th>Date de valeur</th>
                    <th>Sens</th>
                    <th>Devise</th>
                    <th>Statut </th>
                    <th>Quantité</th>
                    <th>Prix</th>
                    <th>Montant des frais</th>
                    <th>Montant brt</th>
                    <th>Montant net</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let o of ordres'>
                    <th scope="row">{{o.Code_isin_opt}}</th>
                    <td>{{o.security}}</td>
                    <td>{{o.tradingDate}}</td>
                    <td>{{o.valueDate}}</td>
                    <td>{{o.sens}}</td>
                    <td>{{o.currency}}</td>
                    <td>{{o.status}}</td>
                    <td>{{o.quanti}}</td>
                    <td>{{o.price}}</td>
                    <td>{{o.feeamount}}</td>
                    <td>{{o.mntbrt}}</td>
                    <td>{{o.MntNet}}</td>
                    <td>

                        <button class="btn btn-danger" (click)="delete(o.id)"><i
                                class="icofont icofont-ui-delete"></i></button>

                    </td>
                </tr>

            </tbody>
        </table>

    </div>
</app-card>
<!-- Basic table card end -->