<!-- Basic Form Inputs card start -->
<app-card [title]="'ajouter ordres'">
    <h4 class="sub-title">information order </h4>

    <form #addOrderVenteForm='ngForm' (ngSubmit)="addOrderVente()">

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Code ISIN :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="  {{Operation?.Code_isin_opt}}" disabled>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Sécurité :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="  {{Operation?.security}}" disabled>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Date de négociation :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="  {{Operation?.tradingDate}}" disabled>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Date de valeur :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="  {{Operation?.valueDate}}" disabled>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">sens :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="  {{Operation?.sens}}" disabled>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Devise :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder=" {{Operation?.currency}}" disabled>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">statut :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="  {{Operation?.status}}" disabled>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Quantité :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="  {{Operation?.quanti}}" disabled>
            </div>
        </div>




        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Prix :</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" placeholder="  Prix" [(ngModel)]='ordre.price'
                    [ngModelOptions]="{standalone:true}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Montant des frais :</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" placeholder="  Montant des frais"
                    [(ngModel)]='ordre.feeamount' [ngModelOptions]="{standalone:true}">
            </div>
        </div>
        <!-- <div class="form-group row">
            <label class="col-sm-2 col-form-label">Montant brt :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder=" Montant brt " [(ngModel)]='order.mntbrt'
                    [ngModelOptions]="{standalone:true}">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Montant net :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Montant net" [(ngModel)]='order.MntNet'
                    [ngModelOptions]="{standalone:true}">
            </div>
        </div> -->


        <div class="form-group row">

            <div class="col-sm-4">
                <button type="submit" class="btn btn-info"> ajouter ordre de Vente </button>
            </div>
        </div>


    </form>

</app-card>
<!-- Basic Form Inputs card end -->