<!-- Basic table card start -->
<app-card [title]="'Cours table'" [classHeader]="true" [blockClass]="'table-border-style'">

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Nature de sécurité</th>
                    <th>Marque de sécurité</th>
                    <th>Nom</th>
                    <th>Devise</th>
                    <th>Emetteur </th>
                    <th>Dépositaire centrale</th>
                    <th>Garant </th>
                    <th>Montant nominal</th>
                    <th>Avec un Tax</th>
                    <th>Evaluation</th>
                    <th>Date d’émission</th>



                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let c of valeur'>

                    <td>{{c.securitynature}}</td>
                    <td>{{c.securitymarket}}</td>
                    <td>{{c.name}}</td>
                    <td>{{c.currency}}</td>
                    <td>{{c.issuer}}</td>
                    <td>{{c.depositary}}</td>
                    <td>{{c.garantor}}</td>
                    <td>{{c.nominalamount}}</td>
                    <td>{{c.withholdingtax}}</td>
                    <td>{{c.rated}}</td>
                    <td>{{c.issuedate}}</td>


                    <td><button class="btn btn-danger" (click)='delete(c.id)'><i class="icofont icofont-ui-delete"></i>
                        </button>

                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</app-card>
<!-- Basic table card end -->