<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
            role="tab" aria-controls="home" aria-selected="true">Mes positions espèces

        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
            role="tab" aria-controls="profile" aria-selected="false">A propos
        </button>
    </li>

</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Date de position</th>
                        <th>Date de fin</th>
                        <th>Devise</th>
                        <th> statut</th>
                        <th>Somme </th>




                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let p of Positionespece'>

                        <td>{{p.positiondate}}</td>
                        <td>{{p.enddate}}</td>
                        <td>{{p.currency}}</td>
                        <td>{{p.statuts}}</td>
                        <td>{{p.amount}}</td>





                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <app-card [title]="' '">
            <div class="card mb-3">
                <div class="card-body">


                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Numéro </h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{cashaccount?.number}}
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Solde</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{cashaccount?.solde}}
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Devise</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{cashaccount?.currency}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Ugest</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{cashaccount?.ugest}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Description</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{cashaccount?.description}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Statut</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{cashaccount?.statuts}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Méthode de paiement </h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{cashaccount?.metpay}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Date d’ouverture</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{cashaccount?.opendate}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Date de fermeture</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{cashaccount?.closuredate}}
                        </div>
                    </div>
                    <hr>

                </div>
            </div>
        </app-card>
    </div>

</div>